# Copyright (c) 2025 Infineon Technologies AG,
# or an affiliate of Infineon Technologies AG.

# SPDX-License-Identifier: Apache-2.0

# SOC die
config SOC_DIE_CYT2B7
	bool

# SOC packages

config SOC_PACKAGE_CYT2B7_64_LQFP
    bool

config SOC_PACKAGE_CYT2B7_80_LQFP
    bool

config SOC_PACKAGE_CYT2B7_100_LQFP
    bool

config SOC_PACKAGE_CYT2B7_144_LQFP
    bool

config SOC_PACKAGE_CYT2B7_176_LQFP
    bool

# Infineon CYT2B7 series MCUs
config SOC_CYT2B73BAS
    bool
    select SOC_DIE_CYT2B7
    select SOC_PACKAGE_CYT2B7_64_LQFP
    select SOC_SERIES_CYT2B73

config SOC_CYT2B73BAE
    bool
    select SOC_DIE_CYT2B7
    select SOC_PACKAGE_CYT2B7_64_LQFP
    select SOC_SERIES_CYT2B73

config SOC_CYT2B73CAS
    bool
    select SOC_DIE_CYT2B7
    select SOC_PACKAGE_CYT2B7_64_LQFP
    select SOC_SERIES_CYT2B73

config SOC_CYT2B73CAE
    bool
    select SOC_DIE_CYT2B7
    select SOC_PACKAGE_CYT2B7_64_LQFP
    select SOC_SERIES_CYT2B73

config SOC_CYT2B74BAS
    bool
    select SOC_DIE_CYT2B7
    select SOC_PACKAGE_CYT2B7_80_LQFP
    select SOC_SERIES_CYT2B74

config SOC_CYT2B74BAE
    bool
    select SOC_DIE_CYT2B7
    select SOC_PACKAGE_CYT2B7_80_LQFP
    select SOC_SERIES_CYT2B74

config SOC_CYT2B74CAS
    bool
    select SOC_DIE_CYT2B7
    select SOC_PACKAGE_CYT2B7_80_LQFP
    select SOC_SERIES_CYT2B74

config SOC_CYT2B74CAE
    bool
    select SOC_DIE_CYT2B7
    select SOC_PACKAGE_CYT2B7_80_LQFP
    select SOC_SERIES_CYT2B74

config SOC_CYT2B75BAS
    bool
    select SOC_DIE_CYT2B7
    select SOC_PACKAGE_CYT2B7_100_LQFP
    select SOC_SERIES_CYT2B75

config SOC_CYT2B75BAE
    bool
    select SOC_DIE_CYT2B7
    select SOC_PACKAGE_CYT2B7_100_LQFP
    select SOC_SERIES_CYT2B75

config SOC_CYT2B75CAS
    bool
    select SOC_DIE_CYT2B7
    select SOC_PACKAGE_CYT2B7_100_LQFP
    select SOC_SERIES_CYT2B75

config SOC_CYT2B75CAE
    bool
    select SOC_DIE_CYT2B7
    select SOC_PACKAGE_CYT2B7_100_LQFP
    select SOC_SERIES_CYT2B75

config SOC_CYT2B77BAS
    bool
    select SOC_DIE_CYT2B7
    select SOC_PACKAGE_CYT2B7_144_LQFP
    select SOC_SERIES_CYT2B77

config SOC_CYT2B77BAE
    bool
    select SOC_DIE_CYT2B7
    select SOC_PACKAGE_CYT2B7_144_LQFP
    select SOC_SERIES_CYT2B77

config SOC_CYT2B77CAS
    bool
    select SOC_DIE_CYT2B7
    select SOC_PACKAGE_CYT2B7_144_LQFP
    select SOC_SERIES_CYT2B77

config SOC_CYT2B77CAE
    bool
    select SOC_DIE_CYT2B7
    select SOC_PACKAGE_CYT2B7_144_LQFP
    select SOC_SERIES_CYT2B77

config SOC_CYT2B78BAS
    bool
    select SOC_DIE_CYT2B7
    select SOC_PACKAGE_CYT2B7_176_LQFP
    select SOC_SERIES_CYT2B78

config SOC_CYT2B78BAE
    bool
    select SOC_DIE_CYT2B7
    select SOC_PACKAGE_CYT2B7_176_LQFP
    select SOC_SERIES_CYT2B78

config SOC_CYT2B78CAS
    bool
    select SOC_DIE_CYT2B7
    select SOC_PACKAGE_CYT2B7_176_LQFP
    select SOC_SERIES_CYT2B78

config SOC_CYT2B78CAE
    bool
    select SOC_DIE_CYT2B7
    select SOC_PACKAGE_CYT2B7_176_LQFP
    select SOC_SERIES_CYT2B78

config SOC
    default "cyt2b73bas" if SOC_CYT2B73BAS
    default "cyt2b73bae" if SOC_CYT2B73BAE
    default "cyt2b73cas" if SOC_CYT2B73CAS
    default "cyt2b73cae" if SOC_CYT2B73CAE
    default "cyt2b74bas" if SOC_CYT2B74BAS
    default "cyt2b74bae" if SOC_CYT2B74BAE
    default "cyt2b74cas" if SOC_CYT2B74CAS
    default "cyt2b74cae" if SOC_CYT2B74CAE
    default "cyt2b75bas" if SOC_CYT2B75BAS
    default "cyt2b75bae" if SOC_CYT2B75BAE
    default "cyt2b75cas" if SOC_CYT2B75CAS
    default "cyt2b75cae" if SOC_CYT2B75CAE
    default "cyt2b77bas" if SOC_CYT2B77BAS
    default "cyt2b77bae" if SOC_CYT2B77BAE
    default "cyt2b77cas" if SOC_CYT2B77CAS
    default "cyt2b77cae" if SOC_CYT2B77CAE
    default "cyt2b78bas" if SOC_CYT2B78BAS
    default "cyt2b78bae" if SOC_CYT2B78BAE
    default "cyt2b78cas" if SOC_CYT2B78CAS
    default "cyt2b78cae" if SOC_CYT2B78CAE